<div class="col-md-4">
  <%= link_to "New 'To Do' Element", todos_new_path, class: "btn btn-info" %>
</div>
<div class="col-md-8">
  <h3>To Do List:</h3>
  <div class="card">
    <% @todos.each do |t|%>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= t.description %>
          <div class="btn-group" role="group" aria-label="Basic example">
            <%= link_to "Show", todo_path(t), class:'btn btn-primary' %>
            <%= link_to "Complete", todo_complete_path(t), class:'btn btn-info' %>
            <%= link_to "Edit", todo_edit_path(t), class:'btn btn-secondary' %>
            <%= link_to "Destroy", todo_destroy_path(t), method: :delete, class:'btn btn-warning' %>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</div>